<form action='/pirates' method="POST">
  <h2>Create a Team and Heroes!</h2>
  <label for=“team_name1">Team Name:</label>
  <input id=“team_name_1" type="text" name="team[ships][][name]" /><br>
  <label for=“team_motto_1”>Team Motto:</label>
  <input id=“team_motto_1” type="text" name="[ships][][type]" /><br>
 

  <h2>Hero 1</h2>
  <label for="hero_name_1">Hero's Name:</label>
  <input id=“hero_name_1" type="text" name="pirate[ships][][name]" /><br>
  <label for=“hero_power_1”>Hero's Power:</label>
  <input id="hero_power_1" type="text" name="pirate[ships][][type]" /><br>
  <label for=“hero_bio_1”>Hero's Biography:</label>
  <input id="hero_bio_1" type="text" name="pirate[ships][][booty]" />

  <h2>Hero 2</h2>
  <label for="hero_name_2">Hero's Name:</label>
  <input id=“hero_name_2" type="text" name="pirate[ships][][name]" /><br>
  <label for=“hero_power_2”>Hero's Power:</label>
  <input id="hero_power_2" type="text" name="pirate[ships][][type]" /><br>
  <label for=“hero_bio_2”>Hero's Biography:</label>
  <input id="hero_bio_1" type="text" name="pirate[ships][][booty]" />

    <h2>Hero 3</h2>
  <label for="hero_name_3">Hero's Name:</label>
  <input id=“hero_name_3" type="text" name="pirate[ships][][name]" /><br>
  <label for=“hero_power_3”>Hero's Power:</label>
  <input id="hero_power_3" type="text" name="pirate[ships][][type]" /><br>
  <label for=“hero_bio_3”>Hero's Biography:</label>
  <input id="hero_bio_3" type="text" name="pirate[ships][][booty]" />
</form>
